.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.single-product .product-image {
  height: 300px;
  width: 300px;
}

.product-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.products .single-product {
  width: 25%;
  padding: 20px;
}

.single-product .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.single-product .product-name {
  height: 72px;
  padding: 10px 0px;
  /* text-align: center; */
}

@media (max-width: 1200px) {
  .products .single-product {
    width: 30%;
  }

  .single-product .product-image {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 992px) {

  .single-product .product-image {
    height: 210px;
    width: 210px;
  }

  .products .single-product {
    width: 33%;
  }

  .single-product .product-price {
    display: block;
    text-align: center;
  }

  .single-product .product-name {
    height: 92px;
  }

}

@media (max-width: 768px) {

  .single-product .product-image {
    max-width: 220px;
  }

  .single-product .product-image img {
    object-fit: contain;
  }

  .products .single-product {
    width: 50%;
  }

  .single-product .product-price {
    display: block;
    text-align: center;
  }

  .single-product .product-name {
    height: 78px;
  }

}

@media (max-width: 568px) {

  .products .single-product {
    border: 1px solid #f2f2f2;
  }

  .single-product .product-image {
    max-width: 157px;
  }

  /* .single-product .product-image img {
    object-fit: contain;
  } */

  .products .single-product {
    width: 50%;
  }

  .single-product .product-price {
    display: block;
    text-align: center;
  }

  .single-product .product-name {
    height: 92px;
  }

}